# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode

# Parser is bison-generated
app/src/main/java/org/projectD/interpreter/parser/Parser.java